* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  color: darkblue;
  max-width: 500px;
  min-width: 300px;
  margin: 10% 30%;
  padding: 40px;
  border: 2px solid navy;
  border-radius: 10px;
  box-shadow: -3px 5.5px 10px 2px gray;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

input {
  font-family: inherit;
}
