.header {
  color: red;
}

.clearButton {
  background-image: url("/src/refresh-button.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
}

.clearButton:focus {
  border: none;
}

.newToDo {
  border: 1px solid darkblue;
  border-radius: 5px;
  margin: 10px;
}
