.toDoItem {
  padding: 5px;
  font-family: "Courgette", cursive;
}

.checkBox {
  margin-right: 13px;
  color: green;
}
.toDoValue {
  outline: none;
  padding: 10px;
  border: 1px solid green;
  border-radius: 5px;
  width: 63%;
}

.removeButton {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 15px;
  margin-left: 6px;
}
