.toDoItem {
  padding: 5px;
  font-family: "Courgette", cursive;
}

.toDoValue {
  outline: none;
  padding: 10px;
  border: 1px solid rgba(143, 186, 194, 0.5);
  background-color: rgba(183, 220, 228, 0.5);
  border-radius: 5px;
  width: 63%;
  transition: 0.3s ease-in-out;
}

.toDoValue:hover {
  background-color: rgb(136, 148, 115, 0.3);
}

.toDoValue:disabled {
  background-color: lightgray;
  border: 1px solid lightgray;
}

.removeButton {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 15px;
  margin-left: 6px;
}
